# Python
__pycache__/
*.pyc
venv/
.venv/
env/

# Node
node_modules/

# Env files
.env

# Database
*.db

# Logs
*.log

# OS / IDE
.vscode/
.idea/
.DS_Store

# Large data
LEGAL-DATA/
my_vector_store/

*.txt
*.sh
frontend/call/